<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Фон -->
    <img id="background-img" src="img/Stars_background.png">

    <!-- Шапка -->
    <h1 id="h1-1">Готовы к открытиям?</h1>
    <p id="p-1">Изучайте бесконечные границы майнкрафта.</p>

    <!-- Панель -->
    <div id="panel-background"></div>

    <img id="version-icon" src="img/icons/version.png">
    <p id="version-text">Version</p>
    <select id="mySelect" onchange="handleChange()">
        <option value="1.20.1">1.20.1</option>
        <option value="1.16.5">1.16.5</option>
    </select>

    <img id="performance-icon" src="img/icons/performance.png">
    <p id="performance-text">Performance</p>
    <p id="performance-p">Наилучшие настройки для вашего
                        ПК лаунчер подбирает автоматически</p>

    <button id="button-play">
        <p>LAUNCH GAME</p>
    </button>

    <!-- Подвал -->
    <p id="design-p">Design by artslavc</p>
</body>
</html>